<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sample1</title>
    <script src="../scripts/samples/sample1.js"></script>
</head>
<body>
    <p>Write some code, that will flatten an array of arbitrarily nested arrays of integers into a flat array of integers. e.g. [[1,2,[3]],4] -> [1,2,3,4] *</p>
    <br />
    <br />
    <div>Results:vamos a ver que pasa</div>
    <script type="text/javascript">
        (function () {

            var resultNoRecursive = sample1.getFlatten(sample1.getArrayToTest());
            var resultRecursive = [];
            sample1.getFlattenRecursive(sample1.getArrayToTest(), resultRecursive);

        })();
    </script>
</body>
</html>